[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2020.12.5"
chardet = "==4.0.0"
urllib3 = "==1.26.3"
requests = "*"
idna = "==2.9"

[dev-packages]
flake8 = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
