#For flake8
flake8==3.8.4
mccabe==0.6.1
pycodestyle==2.6.0
pyflakes==2.2.0

#for pytest
py>==1.8.2
six==1.15.0
toml==0.10.2
pluggy==0.13.1
attrs==19.2.0
iniconfig==1.1.1

#For pytest-cov
coverage==5.4
pytest-cov==2.11.1

-r requirements.txt

